@import '../../themes/index.scss';

.deni-react-modal-toolbar-container {
  $deni-react-modal-toolbar-background: lighten($deni-react-modal-base-color, 9);
  $deni-react-modal-toolbar-hover-background: lighten($deni-react-modal-base-color, 4);

  border-top: solid 1px darken($deni-react-modal-toolbar-background, 4);
  background-color: $deni-react-modal-toolbar-background;
  //box-shadow: 0px -2px 2px darken($deni-react-modal-base-color, 3);
  display: block;
  height: 38px;
  padding: 6px 3px 6px 6px;
  font-family: arial,sans-serif,tahoma;
  font-size: 14px;

  .deni-react-modal-toolbar {

    .modal-toolbar-button {
      background-color: lighten($deni-react-modal-toolbar-background, 7);
      border: solid 1px darken($deni-react-modal-toolbar-background, 8);
      border-radius: 3px;
      color: darken($deni-react-modal-base-color, 55);
      cursor: pointer;
      float: right;
      height: 26px;
      margin-right: 3px;
      min-width: 80px;
      padding-top: 3px;
      text-align: center;

      &:hover {
        background-color: lighten($deni-react-modal-toolbar-background, 3);
        border-color: darken($deni-react-modal-toolbar-background, 6);
        box-shadow: -2px -2px 2px darken($deni-react-modal-toolbar-background, 3), 2px 2px 2px darken($deni-react-modal-toolbar-background, 3);
      }
    }

    .modal-toolbar-button-icon {
      margin-left: 2px;
      margin-right: 1px;
      border: solid 1px darken($deni-react-modal-toolbar-background, 1);
      border-radius: 4px;
      cursor: pointer;
      padding: 3px;
      display: flex;
      align-items: center;
      text-align: center;
      color: darken($deni-react-modal-toolbar-background, 24);

      &:hover {
        background-color: lighten($deni-react-modal-toolbar-hover-background, 3);
        border-color: lighten($deni-react-modal-toolbar-background, 2);
        box-shadow: -2px -2px 2px lighten($deni-react-modal-base-color, 3), 2px 2px 2px lighten($deni-react-modal-base-color, 3);
        color: darken($deni-react-modal-toolbar-background, 46);
      }
    }

  }

}
