@import '../../themes/index.scss';

.deni-react-modal-body-container {
  border: solid 1px #ffffff;
  outline: solid 2px;
  border-radius: 2px;
  justify-content: space-around;
  flex: 1;
  font-family: arial,sans-serif,tahoma;
  margin: 4px 8px 8px 8px;
  overflow: hidden;
  padding: 10px;

  fieldset {
    padding: 15px;
    font-size: 12px;
    border: solid 1px;
  }

  label {
    float: left;
    width: 30%;
    margin-right: 4px;
    padding-top: 5px;
    text-align: right;
    font-weight: normal !important;
    margin-bottom: 0px !important;
  }

  legend {
    padding: 2px 8px;
    font-size: 11px;
    width: auto !important;
    margin-bottom: auto;
    border-bottom: 0;
  }

  input:not([type="button"]) {
    margin-bottom: 4px;
    font-size: 14px;
    padding: 4px;

    outline: none;
    border: 1px solid;
    transition: all 0.30s ease-in-out;

    &:focus {
      border: 1px solid;
    }
  }

  button, input, select, textarea {
    line-height: normal;
  }

}
