@import '../../_variable.scss';

.deni-react-modal-body-container {
  background-color: lighten($deni-react-modal-base-color, 4);//#ecf2f9;
  border: solid 1px darken($deni-react-modal-base-color, 8); //rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  color: darken($deni-react-modal-base-color, 48);
  box-shadow: 1px 1px 1px #f2f2f2;
  justify-content: space-around;
  flex: 1;
  font-family: arial,sans-serif,tahoma;
  margin: 4px 8px 8px 8px;
  overflow: hidden;
  padding: 10px;

  fieldset {
    padding: 15px;
    font-size: 12px;
    border: solid 1px darken($deni-react-modal-base-color, 6);
  }

  label {
    float: left;
    width: 30%;
    margin-right: 4px;
    padding-top: 5px;
    text-align: right;
    font-weight: normal !important;
    //font-weight: bold;
  }

  legend {
    padding: 2px 8px;
    color: darken($deni-react-modal-base-color, 40);
    font-size: 11px;
    width: auto !important;
    margin-bottom: auto;
    border-bottom: 0;
  }

  input:not([type="button"]) {
    margin-bottom: 4px;
    font-size: 14px;
    color: #404040;
    padding: 4px;

    outline: none;
    border: 1px solid #B0CFE0;
    transition: all 0.30s ease-in-out;

    &:focus {
      box-shadow: 0 0 10px darken($deni-react-modal-base-color, 13);
      border: 1px solid darken($deni-react-modal-base-color, 15);
    }
  }

  button, input, select, textarea {
    line-height: normal;
  }

}
