@import '../../themes/index.scss';

.deni-react-modal-title-container {
  align-items: center;
  border-bottom: solid 1px;
  border-top-left-radius: $modal-border-radius;
  border-top-right-radius: $modal-border-radius;
  color: white; //darken($deni-react-modal-base-color, 50);
  display: flex;
  flex-direction: row;
  font-family: tahoma,arial,verdana,sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 34px;
  margin-bottom: 4px;
  padding: 8px;
  user-select: none;

  .deni-react-modal-title {
    cursor: default;
  }
}
